button {
  background-color: #FFFFFF
}

button.material1, button.material2, button.material3 {
      font:14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
      cursor: pointer;
      padding: 0px;
      border: none;
      text-align: left;
      outline: none;
      font-size: 100%;
      transition: 0.4s;

}
button.material1.active, button.material1:hover,button.material2.active, button.material2:hover ,button.material3.active, button.material3:hover {
      background-color: #f8f8f8;
      font-weight:bold;
}
button.material1:after,button.material2:after,button.material3:after {
      font-size: 90%;
      color:#777;
      float: left;
      margin-left: 1px;
       font-weight:bold;
}
button.material1.active:after,button.material2.active:after,button.material3.active:after {

      }
div.panel {
      padding: 0 20px;
      margin-top: 5px;
      display: none;
      background-color: white;
      font-size: 100%;
      background-color: #F1F1F1; 
       background-color: white;
      color: #666; 
      padding: 10px;
      text-align: justify;

}
div.panel.show {
      display: block !important;
}
